body {
    background-color: #1D1D1D;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.letters {
    text-align: center;
}

.lp {
    transition: all 0.5s; /* Transition all CSS properties over 0.5 seconds */
}

.lp:hover {
    /* Specify the new image source and any other desired styles on hover */
    src: url("img/letterp2.png");
    /* You can also add other styles like opacity, scale, etc. here */
}